.latestBlogRow {
  display: flex !important;
  justify-content: center !important;
}

.latestBlogWrapper {
  width: 100%;
}

.techBlogBtnOuter {
  width: 100%;
  display: flex;
  justify-content: center;
}
.techBlogBtnInner {
  display: flex;
  width: 75%;
  justify-content: center;
}

@media screen and (min-width: 550px) {
  .latestBlogWrapper {
    width: 75%;
  }
  .techBlogBtnInner {
    width: 150px;
  }
}
