.wrapperRow {
  position: relative;
  width: 100%;
  height: 35vh;
  padding: 0 !important;
  background: transparent !important;
}

.aboutDiv {
  width: 33%;
  display: flex;
  align-items: center;
  /*
  background: #AA076B;  
  background: -webkit-linear-gradient(to left, #61045F, #AA076B);  
  background: linear-gradient(to left, #61045F, #AA076B); 
  */
  background: transparent;
}
.aboutDivContent {
  display: flex;
  height: 50%;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.aboutDivContent > h4 {
  color: white;
  font-family: "Righteous", cursive;
  padding: 0.5em 1em;
  font-size: 2em;
}
.aboutDescriptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 67%;
  background: #8E2DE2;  
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
  background: linear-gradient(to right, #4A00E0, #8E2DE2); 
}
.descriptionWrapper {
  width: 75%;
}
.descriptionContent {
  color: white;
  font-size: 1.5em;
  line-height: 30px;
  font-family: 'Wallpoet', cursive;
  padding: 5px 10px;
}

@media only screen and (max-width: 965px) {
  .wrapperRow {
    height: 400px;
  }
  .aboutDiv, .aboutDescriptionDiv {
    width: 100%;
  }
  .aboutDiv {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .wrapperRow {
    height: auto;
  }
  .aboutDescriptionDiv {
    border: none;
  }
  .descriptionWrapper {
    width: 100%;    
  }
  .descriptionContent {
    font-size: 1em;
    text-align: center;
  }
}