.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 50px);
}

.loginFormHeader {
  padding: 2em;
}
.loginFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 2em 5em;
}

.loginDiv {
  margin-top: 1em;
}
.passwordField {
  position: relative;
}
.passwordField > div:nth-child(2) > input {
  width: 100% !important;
  padding-left: 38px !important;
}
.passwordField > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 97px;
  cursor: pointer;
}

.loginDivBottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1em;
}
.loginDivBottom > a {
  font-size: 1.25em;
}
