.formRow {
  display: flex !important;
  width: 100%;
  min-height: calc(100vh - 80px);
  overflow: hidden;
  padding-top: 0 !important;
}

@media screen and (max-width: 550px) {
 .formRow {
  justify-content: center !important;
 }
}
@media screen and (min-width: 551px) {
  .formRow {
    justify-content: flex-start;
   }
}