.editProfileControls {
  margin-left: 10px !important;
}

.dataLabel {
  width: 8em;
}
.dataContent {
  display: flex;
  align-items: center;
}
.dataSpan {
  display: inline-flex;
  align-items: center;
  padding: 3px 0.5em;
  border: 1px solid green;
  min-width: 200px;
  height: 33px;
  border-radius: 5px;
  font-weight: bold;
}
.userLevelContent {
  height: 3em;
  width: 267px;
  font-size: 1.25em;
  font-weight: bold;
}
.userLevelDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: gainsboro;
}

@media screen and (min-width: 551px) {
  .formInput {
    width: 268px;
  }
}

@media screen and (max-width: 550px) {
  
  .editProfileModal > i {
    margin-top: -1.75em;
    margin-right: -1em;
    font-size: 2em !important;
    color: orange !important;
  }
  .modalBtns {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
  }
  .editProfileCancel {
    width: 100%;
    border: 3px solid blue !important;
  }
  .editProfileControls {
    margin: 0 !important;
    width: 100%;
    margin-top: 10px !important;
  }
  
  .dataContent {
    min-height: 3em;
    border: 3px solid green !important;
  }
  .dataLabel {
    width: 100%;
  }
  .dataSpan {
    height: 100%;
    width: 75%;
  }
  .dataEditBtn {
    width: 25%;
    height: 100%;
    margin: 0 !important;
  }
  .userLevelContent {
    width: 100%;
  }
  
}