.editProfileModal > i {
  margin-top: -1.75em;
  margin-right: -1em;
  color: red !important;
  font-size: 2em !important;
}
.editProfileModal > i:hover {
  color:  darkred!important;
  transition: all 300ms linear;
}
.modalBtns {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.editProfileCancel {
  width: 100%;
}
.editProfileControls {
  margin-top: 10px !important;
}

.dataLabel {
  width: 100%;
  text-align: center;
}
.formInput {
  width: 100%;
  border: 4px solid red !important;
}
.dataSpan {
  display: inline-flex;
  align-items: center;
  padding: 3px 0.5em;
  border: 1px solid green;
  width: 75%;
  height: 36px;
  border-radius: 5px;
  font-weight: bold;
}
.dataEditBtn {
  width: 25%;
  height: 100%;
  margin: 0 !important;
}

.dataContent {
  display: flex;
  align-items: center;
}

.userLevelDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: gainsboro;
}
.userLevelContent {
  width: 100%;
  padding: 2em 0;
  background-color: gainsboro;
}

@media screen and (min-width: 551px) {
  .editProfileModal > i {
    position: absolute !important;
    right: 10px !important;
    top: 0 !important;
    margin: 0 !important;
  }
  .modalBtns {
    flex-direction: row !important;
    justify-content: flex-start;
  }
  .editProfileCancel {
    width: 33%;
  }
  .editProfileControls {
    width: 67%;
    margin-top: 0 !important;
  }
  .formField {
    width: 100%;
  }
  .dataLabel {
    width: 8em;
  }
  .dataSpan {
    width: 75%;
  }
  
  .userLevelContent {
    height: 3em;
    width: 267px;
    font-size: 1.25em;
    font-weight: bold;
  }
}

@media screen and (min-width: 768px) {
  .modalBtns {
    width: auto;
  }
  .editProfileCancel {
    width: auto;
  }
  .editProfileControls {
    width: auto;
    margin-left: 10px !important;
  }
  .formField {
    width: 445px;
  }
}