.newsMainPageGrid {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 !important;
} 
.headerRow {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  min-height: 150px;
  background: #AA076B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #61045F, #AA076B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #61045F, #AA076B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.headerRow > h1 {
  font-family: "Audiowide", cursive;
  font-size: 3em;
  color: #8E2DE2;
  -webkit-text-fill-color: #8E2DE2;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.feedRow {
  display: flex !important;
  height: 100%;
  flex-direction: row !important;
}

.feedContainer {
  padding-top: 1em;
}

.feedItem {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}
.feedImage {
  display: flex;
  width: 20%;
  width: 50px;
  height: 50px;
  z-index: auto;
}
.feedImage > div {
  border-radius: 5px;
}
.feedContent {
  width: 80% !important;
  padding: 0 0.5em !important;
}

@media screen and (min-width: 768px) {
  .feedMainSection {
    width: 67%;
    padding: 0.5em 2em;
  }
  .feedAsideSection {
    padding: 0.5em 2em;
  }
}