.newsReadingListSegment, .newsReadingListLogin {
  display: flex;
  min-height: calc(100vh - 200px);
  border: 2px solid lightgray;
  border-radius: 5px;
}

.newsReadingListLogin {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
