.newsMainPageGrid {
  min-height: 100vh;
  width: 100%;
  margin: 0 !important;
} 
.headerRow {
  align-items: center !important;
  justify-content: center !important;
  min-height: 150px;
  background: var(--header-violet-light-hue);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, var(--header-violet-dark-hue), var(--header-violet-light-hue));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, var(--header-violet-dark-hue), var(--header-violet-light-hue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.headerRow > h1 {
  font-family: "Audiowide", cursive;
  font-size: 3em;
  color: var(--header-purple-hue);
  -webkit-text-fill-color: var(--header-purple-hue);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.feedRow {
  display: flex !important;
  height: 100%;
  flex-direction: row !important;
}

@media screen and (max-width: 480px) {
  .newsMainPageGrid {
    margin: 0 !important;
  }
}
@media screen and (min-width: 768px) {
  .feedMainSection {
    width: 67%;
    padding: 0.5em 2em;
  }
  .feedAsideSection {
    padding: 0.5em 2em;
  }
}