.carouselWrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  width: 100%;
  overflow-x: scroll;
  border: 2px solid lightblue;
  border-radius: 5px;
  padding: 0 1em;
}
.imageWrapper {
  display: block;
  position: relative;
  height: 250px;
  width: 250px;
  border: 2px solid rgb(88, 128, 88);
  border-radius: 5px;
  margin-right: 5px;
}
.imageWrapper > img {
  border-radius: 5px;
}