.carouselWrapper {
  position: relative;
  display: flex;
  height: 300px;
  width: 100%;
  overflow-x: scroll;
  border: 10px solid lightblue;
  border-radius: 5px;
  padding: 0 1em;
}
.imagesWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.imageWrapper {
  position: relative;
  height: 250px;
  width: 250px;
  border: 2px solid rgb(88, 128, 88);
  border-radius: 5px;
  margin-right: 5px;
  padding: 15px 0;
}
.imageWrapper > div > img {
  border-radius: 5px !important;
  cursor: pointer;
}
.deleteIcon {
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: pointer;
}