.registerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh);
}

.registerFormHeader {
  padding: 2em;
}
.registerFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid purple;
  border-radius: 5px;
  padding: 2em 5em;
}

.registerDiv {
  margin-top: 1em;
}
.passwordField, .passwordConfField {
  position: relative;
}
.passwordField > div:nth-child(2) > input, .passwordConfField > div:nth-child(2) > input {
  width: 100% !important;
  padding-left: 38px !important;
}
.passwordField > span, .passwordConfField > span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 97px;
  cursor: pointer;
}

.passwordConfField { 
  display: flex;
  align-items: center;
}


.registerDivBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}
.registerDivBottom > a {
  font-size: 1.2em;
}

@media only screen and (max-width: 425px) {
  .passwordField, .passwordConfField {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .passwordField > span, .passwordConfField > span {
    position: absolute;
    transform: translateY(0);
    bottom: 10px;
    left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .registerFormContainer {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    border: none;
  }
  .textInput {
    width: 100% !important;
  }
}