.dateSpan {
  margin-left: -28px;
}
.authorSpan {
  margin-top: 5px !important;
  padding-right: 0.5em !important;
  font-family: "Wallpoet", 'Courier New', Courier, monospace;
  font-size: 1.25em;
}
.categoryLabel {
  margin-top: 5px !important;
  margin-left: -1px  !important;
  font-family: "Righteous", 'Courier New', Courier, monospace;
}

@media screen and (max-width: 768px) {
  .cardGroup {
    flex-wrap: nowrap !important;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    padding: 0 1em;
  }
  .blogBottomCard {
    flex: 0 0 90% !important;
    margin: 0 !important;
    margin-left: 5% !important;
  }
}