.blogEntryColumn {
  height: 100%;
  padding: 0 !important;
}
.cardGroup {
  height: 100%;
  margin: 0 0 0 5px !important;
  border-top: 3px solid #8E2DE2;
  border-right: 3px solid #8E2DE2;
  border-bottom: 3px solid #8E2DE2;
  border-radius: 0 5px 5px 0;
}

.mainCard {
  height: 95% !important;
}

.dateSpan {
  margin-left: 5px;
}