.blogEntryColumn {
  height: 100%;
  padding: 0 !important;
}
.cardGroup {
  height: 100%;
  margin: 0 0 0 5px !important;
  -webkit-box-shadow: 1px -1px 1px 1px #a357e6; 
  box-shadow: 1px -1px 1px 1px #a357e6;
  border-radius: 0 5px 5px 0;
}

.mainCard {
  height: 95% !important;
}

.dateSpan {
  margin-left: 5px;
}