.blogPostPageWrapper {
  height: auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blogPostPageTitle {
  display: flex;
  min-height: 200px;
  width: 100%;
  border: 1px solid #c02183;;
  justify-content: center;
  align-items: center;
  font-family: 'Audiowide', cursive;
  -webkit-text-fill-color: #c02183; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin-bottom: 10px;
  word-wrap: break-word;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.blogPostTitleContent {
  display: flex;
  font-size: 4em;
  height: 100%;
  display: flex;
  align-items: center;
}

.blogPostPageMeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 5px;
}
.blogPostAuthorAndTimeStamps {
  display: flex;
  flex-wrap: wrap;
}
.blogPostAuthorDiv, .blogPostTimeStampsDiv {  
  display: flex;
  padding: 0.25em 15px;
  justify-content: center;
  align-items: center;
}
.blogPostAuthorDiv > span:nth-child(1), .blogPostTimeStampsDiv > span:nth-child(1) {
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.blogPostAuthorDiv > span:nth-child(2), .blogPostTimeStampsDiv > span:nth-child(2) {
  margin-left: 3px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Wallpoet", 'Times New Roman', Times, serif;
}
.blogPostCategoriesDiv  {
  display: flex;
  width: 100%;
  justify-content: center;
}

.blogPostKeywordsDiv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  border-radius: 3px;
  padding: 15px 15%;
}
.blogPostKeywordsDiv > div {
  margin-bottom: 5px !important;
}

.blogPostPageMainContent {
  padding: 10px 15%;
  margin-bottom: 50px;
}


.blogPostControlsDiv {
  margin-top: 10px;
  margin-bottom: 15px;
} 
.blogPostLikesDiv  {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 35px;
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .blogPostPageTitle {
    width: 100%;
    min-height: 100px;
  }
  .blogPostTitleContent {
    text-align: center;
    line-height: 1em;
    font-size: 2em;
  }
  .blogPostPageMainContent, .blogPostKeywordsDiv {
    padding: 1em;
  }
  .blogPostLikesDiv {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .blogPostControlsDiv {
    width: 100%;
  }
  .blogPostAuthorDiv > span:nth-child(2), .blogPostTimeStampsDiv > span:nth-child(2) {
    font-size: 1em;
  }
}