.blogEntryColumn {
  height: 100%;
  padding: 0 !important;
}
.cardGroup {
  height: 100%;
  margin: 0 0 0 5px !important;
  -webkit-box-shadow: 1px -1px 1px 1px #a357e6; 
  box-shadow: 1px -1px 1px 1px #a357e6;
  border-radius: 0 5px 5px 0;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.cardGroup::-webkit-scrollbar {
  display: none;
}

.mainCard {
  height: calc(100% - 15px) !important;
}

.dateSpan {
  margin-left: 5px;
}

.bottomContent  {
  position: relative;
  border: 3px solid green !important
}
.readMoreBtn {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.likesDiv {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 5px;
}