.aboutPageGrid {
  min-height: 100vh;
  border: 3px solid red;
}
.aboutHeaderRow {
  min-height: 50px;
  background-color: var(--header-purple-bg);
}
@media screen and (max-width: 480px) {
  .aboutPageGrid {
    margin: 0 !important;
  }
}