.aboutPageGrid {
  min-height: 100vh;
}
.aboutHeaderRow {
  align-items: center !important;
  justify-content: center !important;
  height: 200px !important;
  background: var(--header-purple-hue);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, var(--header-blue-hue), var(--header-purple-hue));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, var(--header-blue-hue), var(--header-purple-hue)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.aboutHeaderRow > h1 {
  font-family:'Audiowide', cursive;
  font-size: 3em;
  color: white;
}
@media screen and (max-width: 480px) {
  .aboutPageGrid {
    margin: 0 !important;
  }
}