.aboutInfoCardContainer {
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 2px #D4D4D4; 
  box-shadow: 0px 0px 3px 2px #D4D4D4; 
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.avatarContainer {
  position: relative;
  display: flex;
  align-self: center;
}

.avatarPicWrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.infoWrapper { 
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em 1em;
}
.infoWrapper > h3, .infoWrapper > span  {
  text-align: center;
}
.infoWrapper > span {
  padding: 0.5em 0;
  border-top: 2px solid rgb(212, 212, 212);
}

.infoControls {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 0.5em;
}

@media screen and (min-width: 768px) {
  .aboutInfoCardContainer {
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
  }
  .infoWrapper > h3, .infoWrapper > span  {
    text-align: left;
  }
  .infoControls {
    margin-top: 1em;
    width: 100%;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 1024px) {
  .aboutInfoCardContainer {
    width: 66%;
  }
}