.headerRow {
  border: 4px solid red !important;
}
.contentRow {
  flex-direction: column !important;
}
.userContentSegment {
  display: flex;
  flex-direction: column;
}
.userContentLabel {
  width: 100%;
} 

/* */
.passChangeControls {
  border-top: 2px solid lightblue;
  padding: 1em 1em 0 1em;  
}
.passChangeBtns {
  width: 100%;
}

/* */
.passChangeForm {
  padding: 2em 1em;
}

@media screen and (min-width: 551px) {
  .userContentLabel {
    width: 100%;
  }

  .passChangeBtns {
    width: 550px;
  }
}