.controlBtns {
  width: 100% !important;
  margin-bottom: 10px !important;
}
.contentRow {
  flex-direction: column !important;
}
.userContentSegment {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}
.userContentInfoDiv {
  margin-bottom: 0.25em;
}
.userContentInfoDiv > span {
  padding: 0 0.5em;
}
.passChangeControlsSegment {
  margin-top: 5px !important;
}
.userContentLabel {
  width: 100%;
} 

/* */
.passChangeErrorMessages {
  width: 100%;
}

/* */
.passChangeControls {
  padding: 1em 1em 0 1em;  
}
.passChangeBtns {
  width: 100%;
  border: 4px solid red !important;
}
.passChangeTrigger {
  width: 100%;
}
/* */
.passChangeForm {
  padding: 2em 1em;
}

@media screen and (min-width: 551px) {
  .controlBtns {
    width: auto !important;
    margin-left: 10px !important;
    margin-bottom: 0 !important;
  }
  .userContentSegment  {
    padding: 2em !important;
  }
  .passChangeErrorMessages {
    width: 551px;
  }
  .userContentLabel {
    width: 100px;
  }

  .passChangeTrigger {
    width: 300px;
  }
  .passChangeBtns {
    width: 550px;
  }
}