.controlBtns {
  width: 100% !important;
  margin-bottom: 10px !important;
}
.contentRow {
  flex-direction: column !important;
}
.userContentSegment {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
}
.userContentInfoDiv {
  margin-bottom: 0.25em;
}
.userContentInfoDiv > span {
  padding: 0 0.5em;
}
.passChangeAPIMessageDiv {
  width: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.passChangeControlsSegment {
  margin-top: 0 !important;
}
.userContentLabel {
  width: 100%;
} 

/* */
.passChangeErrorMessages {
  width: 100%;
}

/* */
.passChangeBtns {
  width: 100%;
}
.passChangeTrigger {
  width: 100%;
}
/* */
.passChangeForm {
  padding: 2em 1em;
}

@media screen and (min-width: 551px) {
  .passChangeAPIMessageDivInner {
    width: 555px;
    margin-left: 15px;
  }
  .passChangeControls {
    padding: 1em 1em 0 1em;  
  }
  .passChangeForm {
    border: 4px solid green !important;
  }
  .controlsRow {
    margin-top: 2em;
    padding: 0 !important;
  }
  .controlBtns {
    width: auto !important;
    margin-left: 15px !important;
  }
  .contentRow {
    padding: 0 !important;
  }
  .userContentSegment  {
    padding: 2em !important;
  }
  
  .passChangeErrorMessages {
    width: 551px;
  }
  .userContentLabel {
    width: 100px;
  }

  .passChangeTrigger {
    width: 555px;
  }
  .passChangeBtns {
    width: 555px;
  }
}