.userMainRow {
  margin-top: 0.5em;
}
.leftColumn {
  max-height: calc(100vh - 90px);
  overflow-y: scroll;
}


@media screen and (min-width: 550px) {
  .userMainRow {
    margin-top: 1.75em;
  }
  .rightColumn {
    border-left: 2px solid gray !important;
  }
}