.adminLoginWrapper {
  display: flex;
  flex-direction: column !important;
  width: 100%;
  height: calc(100vh - 50px);
  align-items: center !important;
  justify-content: center !important;
}

.adminLoginForm {  
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
  border: 5px solid purple !important;
  border-radius: 5px;
}