.animatedHomeNavWrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}
.buttonDiv {
  width: 100px;
}

@media screen and (max-width: 1024px) {
  .animatedHomeNavWrapper {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .buttonDiv {
    width: 80px;
  }
}