.adminMainRow {
  height: calc(100vh - 130px);
  padding: 0 !important;
}

.leftColumn, .rightColumn {
  height: 100%;
  border: 5px solid green;
}
.leftColumn {
  height: 100%;
  padding-top: 10px;
  overflow-y: scroll;
}
.rightColumn {
  height: 100%;
  overflow: hidden;
}