.adminMainRow {
  height: calc(100vh - 100px);
  padding-bottom: 0 !important;
}

.leftColumn, .rightColumn {
  height: 100%;
}
.leftColumn {
  height: 100%;
  padding-top: 10px;
  overflow-y: scroll;
}
.rightColumn {
  height: 100%;
  overflow: hidden;
}