.adminPostForm {
  border: 1px solid green;
  border-radius: 5px;
  padding: 1em;
}

.postTextArea {
  border: 2px solid green;
  border-radius: 4px;
}
.postTextArea > textarea {
  min-height: 400px !important;
  resize: none !important;
}