.adminUserFormWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5em;
}
.adminUserForm {
  border: 1px solid grey;
  padding: 1em;
  margin-top: 0.5em;
}


@media screen and (max-width: 550px) {
  .adminUserForm {
    width: 100%;
  }
}
@media screen and (min-width: 551px) {
  .adminUserForm {
    width: 75%;
  }
}