@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Monoton&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --header-purple-bg: #a333c8;
}

:global(.dimmed.dimmable > .ui.modals.dimmer.visible) {
  display: flex !important;
}
.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}

